{%load static%}

<div style = "background-color: #F2B117; padding-top:20px; color: #323232; max-width: 100%; height: 120px; display: grid; grid-template-columns: 4fr 10fr">
    <div style =  "align-self: center; text-align: center;" >
            
        <p style="font-size: 25px; font-weight: bold; text-align: center;" >
            <img src="{% static 'surveyapp/images/main/logo1.png' %}" width="15%">
            SURVEY & SERVICE
        </p>
    </div>
    <div style =" align-self: center; font-size: 15px; font-weight: bold;">
        <p>
            한국품질재단 빅데이터기반 차세대 데이터 크리에이터 양성과정 2차반 이정빈 허아현 김동주
        <br>    
            (46279) 부산광역시 금정구 중앙대로 1617-12 푸르지오 상가 2층 207호
        <br>
            Copyright SURVEY & SERVICE. All rights reserved.
        </p>
    </div>
</div>
